<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target xsi:type="File" name="File" fileName="${basedir}\logs\${shortdate}.log" layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger}-ligne ${callsite-linenumber:padding=-4} | ${message}" />
		<target xsi:type="File" name="Login" fileName="${basedir}/logs/Account/Login-${shortdate}.log" layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger}-ligne ${callsite-linenumber:padding=-4} | ${message}" />
		<target xsi:type="File" name="Register" fileName="${basedir}/logs/Account/Register-${shortdate}.log" layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger}-ligne ${callsite-linenumber:padding=-4} | ${message}" />
	</targets>
	<rules>
		<logger name="Login" minlevel="Info" writeTo="Login" final="true"/>
		<logger name="Register" minlevel="Info" writeTo="Register" final="true"/>
		<logger name="*" minlevel="Trace" writeTo="File" />
		<logger name="*" minlevel="Warn" writeTo="Papercut" enabled="false"/>
	</rules>
</nlog>